<h1>Doctor</h1>

<%= link_to "Update Personal Information", action: "qD1" %>

<br>

<%= link_to "Prescribe a Drug", action: "qD2" %>

<br>

<%= link_to "Pharmacies that are currently open: Weekday", action: "qD3" %>

<br>

<%= link_to "Pharmacies that are currently open: Weekend", action: "qD4" %>

<br>

<%= link_to "View Appointments for picked date and time", action: "qD5" %>

<br>

<%= link_to "View Appointments on a certain date", action: "qD6" %>

<br>

<%= link_to "View Appointments during a certain time", action: "qD7" %>

<br>

<%= link_to "view personal information about a patient", action: "qD8" %>

<br>

<%= link_to "View Appointments during a certain time", action: "qD9" %>

<br>

<%= link_to "view a list of previous prescriptions for a certain patient", action: "qD10" %>

<br>

<%= link_to "check if a certain drug was taken in the past by a certain patient", action: "qD11" %>

<br>

<%= link_to "view a list of drugs that interact with a specific drug", action: "qD12" %>

<br>

<%= link_to "view a list of past appointments by a certain patient", action: "qD13" %>

<br>

<%= link_to "Generate a report about which prescriptions a doctor has
#   previously prescribed...", action: "qD14" %>

<br>

<%= link_to "show the average number of refills for a certain drug", action: "qD15" %>

<br>

<%= link_to "select patients who ordered all products by company name", action: "qD16" %>

