<!DOCTYPE html>
<html>
<head>
<title>PrescriptApp | <%= content_for?(:title) ? yield(:title) : "For all your prescription needs" %></title>  
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if user_signed_in? %>
<div class='col-md-8'>
Signed in as: 
      <%= current_user.user_type %>
|
Email:
      <%= current_user.email %>
</div>
<div class='col-md-4' style='text-align: right'>
  <div class='btn btn-default'>
     <%= link_to "Home", root_path %>
      </div>
  <div class='btn btn-default'>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
    
    <%= link_to "Home", root_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>



</div>
<% else %>
<div class='col-md-4'>
  <div class='btn btn-default'>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
  <div class='btn btn-default'>
    <%= link_to "Login", new_user_session_path %>
  </div>
</div>

<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<%= yield %>

</body>
</html>
