

<div class = "panel container">

<div class='text-center'>
  <h1>Doctor Options</h1>
  <div class='row-line'></div>

  <%= form_tag(qD1_path, :method=>'post') do %>
   <h3>Update personal information:</h3>
    <%= label_tag("dFName", "First Name:") %> 
    <%= text_field_tag "dFName" %> </br>
    <%= label_tag("dLName", "Last Name:") %> 
    <%= text_field_tag "dLName" %> </br>
    <%= label_tag("dAddress", "Address:") %> 
    <%= text_field_tag "dAddress" %> </br>
    <%= label_tag("dPhoneNum", "Phone Number:") %> 
    <%= text_field_tag "dPhoneNum" %> </br>
    <%= label_tag("dSpecialty", "Specialty:") %> 
    <%= text_field_tag "dSpecialty" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <%= form_tag(qD2_path, :method=>'post') do %>
   <h3>Prescribe a Drug:</h3>
    <%= label_tag("prescription", "Prescription number:") %> 
    <%= text_field_tag "prescription" %> </br>
    <%= label_tag("refills", "Number of refills:") %> 
    <%= text_field_tag "refills" %> </br>
    <%= label_tag("dosage", "Dosage:") %> 
    <%= text_field_tag "dosage" %> </br>
    <%= label_tag("ccNum", "Patient Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <br>

  <h3>Find pharmacies that are currently open (Weekday)</h3>
  <%= button_to "Go!", qD3_path, :class => "button", :method => :get %>
  <br>

  <h3>Find pharmacies that are currently open (Weekend)</h3>
  <%= button_to "Go!", qD4_path, :class => "button", :method => :get %>
  <br>

  <h3>View Appointments for picked date and time</h3>
  <%= button_to "Go!", qD5_path, :class => "button", :method => :get %>
  <br>

  <%= form_tag(qD6_path, :method=>'post') do %>
   <h3>View Appointments on a certain date:</h3>
    <%= label_tag("date", "Date:") %> 
    <%= text_field_tag "date" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>


  <%= form_tag(qD7_path, :method=>'post') do %>
   <h3>View Appointments during a certain time</h3>
    <%= label_tag("sTime", "Start time:") %> 
    <%= text_field_tag "sTime" %> </br>
    <%= label_tag("eTime", "End time:") %> 
    <%= text_field_tag "eTime" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>


  <%= form_tag(qD8_path, :method=>'post') do %>
   <h3>View patient's information:</h3>
    <%= label_tag("ccNum", "Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>


  <%= form_tag(qD9_path, :method=>'post') do %>
   <h3>View patient's prescriptions:</h3>
    <%= label_tag("ccNum", "Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <%= form_tag(qD10_path, :method=>'post') do %>
   <h3>View patient's prescribed drugs:</h3>
    <%= label_tag("ccNum", "Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <%= form_tag(qD11_path, :method=>'post') do %>
   <h3>View patient's prescribed drugs:</h3>
    <%= label_tag("ccNum", "Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
    <%= label_tag("brandName", "Brand name:") %> 
    <%= text_field_tag "brandName" %> </br>
    <%= label_tag("genericName", "Generic name:") %> 
    <%= text_field_tag "genericName" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <%= form_tag(qD12_path, :method=>'post') do %>
   <h3>View possible drug interactions:</h3>
    <%= label_tag("iBrandName", "Brand name:") %> 
    <%= text_field_tag "iBrandName" %> </br>
    <%= label_tag("iGenericName", "Generic name:") %> 
    <%= text_field_tag "iGenericName" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <%= form_tag(qD13_path, :method=>'post') do %>
   <h3>View patient's past appointments</h3>
    <%= label_tag("ccNum", "Care card number:") %> 
    <%= text_field_tag "ccNum" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>

  <h3>Generate a report about which prescriptions a doctor has previously prescribed...</h3>
  <%= button_to "Go!", qD14_path, :class => "button", :method => :get %>
  <br>

  <h3>Show the average number of refills for a certain drug</h3>
  <%= button_to "Go!", qD15_path, :class => "button", :method => :get %>
  <br>

  <%= form_tag(qD16_path, :method=>'post') do %>
   <h3>View patients who have been prescribed a drug from a specific company:</h3>
    <%= label_tag("cName", "Company name:") %> 
    <%= text_field_tag "cName" %> </br>
   <p>
    <%= submit_tag 'Submit' %>
   </p>
  <% end %>
</div>
</div>