<div class = "panel container">
<div class='text-center'>

<h2 class='text-center'>Patient Options</h2>

  <div class='row-line'></div>


<div class='grey-background'>
<%= form_tag(qPa1a_path, :method=>'post') do %>
 <h3>Update address</h3>
  <%= label_tag("pAddress", "Address:") %> 
  <%= text_field_tag "pAddress" %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>
</div>
<br>

<%= form_tag(qPa1b_path, :method=>'post') do %>
 <h3>Update phone number</h3>
  <%= label_tag("pPhoneNum", "Phone Number:") %> 
  <%= text_field_tag "pPhoneNum" %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>
<br>

<h3>Find pharmacies that are currently open (weekday)</h3>
<%= button_to "Go!", qPa2_path, :class => "button", :method => :get %>
<br>

<div class='grey-background'>
<h3>Find pharmacies that are currently open (Weekend)</h3>
<%= button_to "Go!", qPa3_path, :class => "button", :method => :get %>
<br>
</div>

<%= form_tag(qPa4_path, :method=>'post') do %>
 <h3>Make an appointment</h3>
  <%= label_tag("date", "Date:") %> 
  <%= date_field_tag "date" %> </br>
  <%= label_tag("sTime", "Start Time:") %> 
  <%= time_select "sTime", "test", {minute_step: 15, ampm: true} %> </br>
  <%= label_tag("eTime", "End Time:") %> 
  <%= time_select "eTime", "test", {minute_step: 15, ampm: true} %> </br>
  <%= label_tag("license", "Doctor License:") %> 
  <%= text_field_tag "license" %>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>

<div class='grey-background'>
<%= form_tag(qPa5_path, :method=>'post') do %>
 <h3>Cancel an appointment</h3>
  <%= label_tag("date", "Date:") %> 
  <%= date_field_tag "date" %> </br>
  <%= label_tag("sTime", "Start Time:") %> 
  <%= time_select "sTime", "test", {minute_step: 15, ampm: true} %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>
</div>

<h3>View all upcoming appointments</h3>
<%= button_to "Go!", qPa6a_path, :class => "button", :method => :get %>
<br>

<div class='grey-background'>
<%= form_tag(qPa6b_path, :method=>'post') do %>
 <h3>View upcoming appointments by date</h3>
  <%= label_tag("date", "Date:") %> 
  <%= date_field_tag "date" %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>
</div>

<%= form_tag(qPa6c_path, :method=>'post') do %>
 <h3>View upcoming appointments by time</h3>
  <%= label_tag("sTime", "Start Time:") %> 
  <%= time_select "sTime", "test", {minute_step: 15, ampm: true} %> </br>
  <%= label_tag("eTime", "End Time:") %> 
  <%= time_select "eTime", "test", {minute_step: 15, ampm: true} %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>

<div class='grey-background'>
<%= form_tag(qPa7_path, :method=>'post') do %>
 <h3>Check drug interactions</h3>
  <%= label_tag("drug", "Drug generic name:") %> 
  <%= text_field_tag "drug" %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>
</div>

<%= form_tag(qPa8_path, :method=>'post') do %>
 <h3>Check Interactions for this prescription</h3>
  <%= label_tag("prescription", "Prescription number:") %> 
  <%= text_field_tag "prescription" %> </br>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>

<div class='grey-background'>
<h3>View Prescription Status</h3>
<%= button_to "Go!", qPa9_path, :class => "button", :method => :get %>
<br>
</div>

<h3>Generate report: current prescriptions</h3>
<%= button_to "Go!", qPa10_path, :class => "button", :method => :get %>
<br>

<div class='grey-background'>
<h3>Generate Report: Previous Prescriptions</h3>
<%= button_to "Go!", qPa11_path, :class => "button", :method => :get %>
<br>
</div>

</div>


</div>
