<h1>Patient</h1>




<%= form_tag(test_link_path, :method=>'post') do %>
 <p>
  Add an attachment:<br />
  <%= text_field_tag "var1" %>
 </p>
 <p>
  <%= submit_tag 'Submit' %>
 </p>
<% end %>





	<%= link_to "update personal information", test_link_path(@table, :var1 => "Pharmacy"), method: :patch %>




  	<%= form_tag({:controller => "tables", :action => "qPa1p"}, :method => "post") do %> 
  		<%= label_tag(:var1, "variable:") %> 
  		<%= text_field_tag(:var1) %> <%= submit_tag("Submit") %> 
  	<% end %>







	<br>

	<%= link_to "Pharmacies that are currently open: Weekday", action: "qPa2" %>

	<br>

	<%= link_to "Pharmacies that are currently open: Weekend", action: "qPa3" %>

	<br>

	<%= link_to "Make an Appointment", action: "qPa4" %>

	<br>

	<%= link_to "Cancel an Appointment", action: "qPa5" %>

	<br>

	<%= link_to "View Upcoming Appointments", action: "qPa6" %>

	<br>

	<%= link_to "Check Drug Interactions", action: "qPa7" %>

	<br>

	<%= link_to "Check Interactions for this Prescription", action: "qPa8" %>

	<br>

	<%= link_to "View Prescription Status", action: "qPa9" %>

	<br>

	<%= link_to "Generate Report: Current Prescription", action: "qPa10" %>

	<br>

	<%= link_to "Generate Report: Previous Prescription", action: "qPa11" %>





