<h1>Pharmacist</h1>

<%= link_to "View prescriptions prescribed by doctor", action: "qPh1" %>

<br>

<%= link_to "Change status of prescription", action: "qPh2" %>



<br>

<%= link_to "View past prescriptions", action: "qPh3" %>

<br>

<%= link_to "Print out a list of prescriptions filled that day", action: "qPh4" %>

<br>

<%= link_to "Reduce the refill number of a patient’s prescription", action: "qPh5" %>
